  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Start</title>
        <link rel="stylesheet" href="mycss.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
    <body>

      <form action="index.html" method="post" width=800px>
      
        <h2>Hello!</h2>
			
			<p1>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus malesuada lacus, id tempus purus iaculis id. Sed in sem in dui semper auctor. Sed ultrices, nisl eget aliquet ultrices, metus nibh posuere enim, vitae laoreet lacus metus vel augue. Suspendisse aliquet euismod maximus. Proin purus neque, rutrum vitae consectetur at, porta sagittis augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tempus erat id neque convallis ultrices. Suspendisse ac nisl rhoncus, commodo ipsum eget, placerat ante. Praesent cursus molestie risus et aliquet. Ut semper tristique orci. Donec sit amet erat turpis.
			<br>
			</p1>
			<br>
		
			<button onclick="location.href='02_personal.html'" type="button" autofocus>I Agree, Start The Survey</button>
			
		
	  	</form>
	</body>
	
 