  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal</title>
        <link rel="stylesheet" href="mycss.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
    <body>

      <form method="post" action="02_personal.php" width=800px>
      
        <h1>Survey</h1>
			
			<p1>
			First of all, please help us proceed by providing some of your basic information.<br> 
			</p1>
			<br>
        <fieldset>
          <legend><span class="number">?</span>Your basic info</legend>
          <label for="age_id">* How old are you? Please use a single number.</label>
          <input type="number" value="20" min=15 max=100 id="age_id" name="user_age" autofocus>
		</fieldset>
        
        <fieldset>
        <label for="edu">* Please specify your educational level.</label>
        <select id="edu_id" name="user_edu">
            <option value="HighSchool">High School</option>
            <option value="Bachelor">Bachelor's Degree</option>
            <option value="Master">Master's Degree</option>
            <option value="PhD"> PhD degree</option>
            <option value="PostDoc">Post-doc or Above</option>
        </select>
        </fieldset>
		
		<button  TYPE="submit" name="submit">Next Step</button>
      </form>
      
    </body>
</html>