  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pairs</title>
        <link rel="stylesheet" href="mycss.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
	 <body>

      <form action="pairs.php" method="post" width=800px>
      
        <h1>Songs</h1>
			
			<p1>
			Listen to these two song snippets and imagine that you are working in your office. Which one do you prefer
			to listen? Express your preference towards the song on the left or on the right by moving the slider below to its direction.
			<br> 
			</p1>
			<br>
		<div align="center">
			<input align="middle" type="range" max="2", min="-2" value=0 onchange="showValue(this.value)"/><br><br>
			<span id="range">Don't really care</span>
				<br>
				<br>
		</div>
		
		<audio id="audio1" controls ontimeupdate="TrackAudio1(this)"
			source src="{{FirstSongURL}}" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>	
		
		<audio id="audio2" controls ontimeupdate="TrackAudio2(this)"
				source id="audio2" src="{{SecondSongURL}}" type="audio/mpeg">
				Your browser does not support the audio element.
		</audio>
		
		
		
		
		<!-- <input onclick="checkTime()" type="button">check</input> -->
        <button onclick="checkTime()" type="button">Submit Rating</button>
		<br><br>
		<button onclick="myFunction()" type="button">I'm Done Rating</button>

		
		<script>
		var maxTimeSong1 = 0;
		var maxTimeSong2 = 0;
		function TrackAudio1(element){
		if (maxTimeSong1 <= Math.floor(element.currentTime))
		{maxTimeSong1 =  Math.floor(element.currentTime);
		}
		   //Value in seconds.
		}
		function TrackAudio2(element){
		if (maxTimeSong2 <= Math.floor(element.currentTime))
		{maxTimeSong2 =  Math.floor(element.currentTime);
		}
		   //Value in seconds.
		}

		function checkTime(){
		if (maxTimeSong1>=8 && maxTimeSong2>=8){
		window.location.href = '03_pairs.php';
		}else
		alert("Please listen to both song snippets carefully before submitting your rating! Thanks!")
		}
		
		function myFunction() {
			var txt;
			var r = confirm("Are you sure you are done rating?");
			if (r == true) {
				window.location.href = '04_thanks1.html';
			}
			
		}
		
		function showValue(newValue){
		switch(newValue) {
		case "-2":
			document.getElementById("range").innerHTML="The song on the left is ABSOLUTELY better";
        break;
		case "-1":
			document.getElementById("range").innerHTML="The song on the left is SOMEWHAT better";
        break;
		case "0":
			document.getElementById("range").innerHTML="Both songs are about the same";
        break;
		case "1":
			document.getElementById("range").innerHTML="The song on the right is SOMEWHAT better";
        break;
		case "2":
			document.getElementById("range").innerHTML="The song on the right is ABSOLUTELY better";
        break;
		default:
			document.getElementById("range").innerHTML="Both songs are about the same";
		}
		
		}

		</script>
		

		

<p id="demo"></p>



      </form>
      
    </body>
</html>