  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thanks</title>
        <link rel="stylesheet" href="mycss.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
	 <body>

      <form action="index.html" method="post" width=800px>
      
        <h1>Thanks!</h1>
			
			<p1>
			Thanks a lot for expressing your opinion! Now please take a few minutes to answer to some questions regarding yourself.
			<br> 
			</p1>
			<br>
				
        <button onclick="location.href='05_questions.html'" type="button">Next Step</button>
      </form>
      
    </body>
</html>