  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questions</title>
        <link rel="stylesheet" href="mycss.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        
    </head>
    <body>

      <form action="index.html" method="post" width=600px>
      
        <h1 align=left>Survey</h1>
			
			<p1>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus malesuada lacus, id tempus purus iaculis id. Sed in sem in dui semper auctor. Sed ultrices, nisl eget aliquet ultrices, metus nibh posuere enim, vitae laoreet lacus metus vel augue. Suspendisse aliquet euismod maximus. Proin purus neque, rutrum vitae consectetur at, porta sagittis augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tempus erat id neque convallis ultrices. Suspendisse ac nisl rhoncus, commodo ipsum eget, placerat ante. Praesent cursus molestie risus et aliquet. Ut semper tristique orci. Donec sit amet erat turpis.<br> 
			<br>
			</p1>
			<br>
        <fieldset id="q1">
          <legend><span class="number">?</span>Questions About You</legend>

          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dignissim nibh, et accumsan libero. Pellentesque vel blandit elit. Aenean malesuada augue diam, eget tristique neque maximus scelerisque. Sed tellus velit, pulvinar eget mollis at, dictum quis lorem. Aliquam erat volutpat. Sed eleifend, felis id mollis volutpat?
		  </label>
          <input type="radio" id="StronglyAgree" value="StronglyAgree" name="q1"><label for="q1" class="light">Strongly Agree</label><br>
          <input type="radio" id="Agree" value="Agree" name="q1"><label for="q1" class="light">Agree</label><br>
		  <input type="radio" id="Neutral" value="Nuetral" name="q1"><label for="q1" class="light">Not Sure</label><br>
          <input type="radio" id="Disagree" value="Disagree" name="q1"><label for="q1" class="light">Disagree</label><br>
		  <input type="radio" id="StronglyDisagree" value="StronglyDisagree" name="q1"><label for="q1" class="light">Strongly Disagree</label><br>
		  <br>
		 </fieldset>
		 <fieldset id="q2">
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dignissim nibh, et accumsan libero. Pellentesque vel blandit elit. Aenean malesuada augue diam, eget tristique neque maximus scelerisque. Sed tellus velit, pulvinar eget mollis at, dictum quis lorem. Aliquam erat volutpat. Sed eleifend, felis id mollis volutpat?
		  </label>
          <input type="radio" id="StronglyAgree" value="StronglyAgree" name="q2"><label for="q1" class="light">Strongly Agree</label><br>
          <input type="radio" id="Agree" value="Agree" name="q1"><label for="q2" class="light">Agree</label><br>
		  <input type="radio" id="Neutral" value="Nuetral" name="q1"><label for="q2" class="light">Not Sure</label><br>
          <input type="radio" id="Disagree" value="Disagree" name="q1"><label for="q2" class="light">Disagree</label><br>
		  <input type="radio" id="StronglyDisagree" value="StronglyDisagree" name="q2"><label for="q1" class="light">Strongly Disagree</label><br>
		  <br>
		  </fieldset>
		  <fieldset id="q3">
		  <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dignissim nibh, et accumsan libero. Pellentesque vel blandit elit. Aenean malesuada augue diam, eget tristique neque maximus scelerisque. Sed tellus velit, pulvinar eget mollis at, dictum quis lorem. Aliquam erat volutpat. Sed eleifend, felis id mollis volutpat?
		  </label>
          <input type="radio" id="StronglyAgree" value="StronglyAgree" name="q3"><label for="q1" class="light">Strongly Agree</label><br>
          <input type="radio" id="Agree" value="Agree" name="q1"><label for="q3" class="light">Agree</label><br>
		  <input type="radio" id="Neutral" value="Nuetral" name="q1"><label for="q3" class="light">Not Sure</label><br>
          <input type="radio" id="Disagree" value="Disagree" name="q1"><label for="q3" class="light">Disagree</label><br>
		  <input type="radio" id="StronglyDisagree" value="StronglyDisagree" name="q3"><label for="q1" class="light">Strongly Disagree</label><br>
		  <br>
		  </fieldset>
		  <fieldset id="q4">
		  <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dignissim nibh, et accumsan libero. Pellentesque vel blandit elit. Aenean malesuada augue diam, eget tristique neque maximus scelerisque. Sed tellus velit, pulvinar eget mollis at, dictum quis lorem. Aliquam erat volutpat. Sed eleifend, felis id mollis volutpat?
		  </label>
          <input type="radio" id="StronglyAgree" value="StronglyAgree" name="q4"><label for="q1" class="light">Strongly Agree</label><br>
          <input type="radio" id="Agree" value="Agree" name="q1"><label for="q4" class="light">Agree</label><br>
		  <input type="radio" id="Neutral" value="Nuetral" name="q1"><label for="q4" class="light">Not Sure</label><br>
          <input type="radio" id="Disagree" value="Disagree" name="q1"><label for="q4" class="light">Disagree</label><br>
		  <input type="radio" id="StronglyDisagree" value="StronglyDisagree" name="q4"><label for="q1" class="light">Strongly Disagree</label><br>
		  <br>
		  
		  </fieldset>
        
		
        
        <button onclick="location.href='06_thanks2.php'" type="button">Next Step</button>
      </form>
      
    </body>
</html>